<%- include('C:/Users/Admin/OneDrive/Documents/GitHub/BlogPractice/views/partials/header.ejs') %>

<div class="main-content">

    <div class="community community-layout">
        <a href="" class="link-overlay"></a>
            <img src="https://media.tenor.com/x8v1oNUOmg4AAAAM/rickroll-roll.gif" alt="Ricky">
            <div class="community-text">
                <h1>c/Rickity</h1>
                <p>This community is all about Rick!</p>
            </div>
    </div>
    <div class="community community-layout">
        <a href="" class="link-overlay"></a>
            <img src="https://media1.tenor.com/m/jSakpprrHBEAAAAC/shrek-smirk.gif" alt="Rizz">
            <div class="community-text">
            <h1>c/Rizz</h1>
            <p>This community is all about Impeccable Rizz!</p>
        </div>
    </div>
    <div class="community community-layout">
        <a href="" class="link-overlay"></a>
            <img src="https://media1.tenor.com/m/aey3fDl8n1AAAAAd/cool-guy-cool.gif" alt="ChillGuy">
            <div class="community-text">
                <h1>c/ChillGuy</h1>
                <p>This community is all about Chill Guy!</p>
            </div>
    </div>
    <div class="community community-layout">
        <a href="" class="link-overlay"></a>
            <img src="https://media1.tenor.com/m/1mekY2yeGWkAAAAd/sigma.gif" alt="Rizz">
            <div class="community-text">
                <h1>c/Sigma</h1>
                <p>This community is all about Sigma!</p>
            </div>
    </div>
    <div class="community community-layout">
        <a href="" class="link-overlay"></a>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZO4F0lKoa1G1MOrQ7b0hrCsSupq1XH9WtYw&s" alt="EvilTobey">
            <div class="community-text">
                <h1>c/Tobey</h1>
                <p>This community is all about Bully Maguire!</p>
            </div>
    </div>

</div>