<%- include('C:/Users/Admin/OneDrive/Documents/GitHub/BlogPractice/views/partials/header.ejs') %>

<div class="main-content">
    <div id = "create-post">
        <h1>Create your post</h1>
        <div id = "community">
            <button id="select-community">Select Community</button>
            <div id = "community-list">
                <button id="community1">c/Rickity</button>
                <button id="community2">c/Rizz</button>
                <button id="community3">c/ChillGuy</button>
                <button id="community4">c/Sigma</button>
            </div> 
        </div>
        <input type="text" id="title" placeholder="Title...*">
        <textarea id="content" placeholder="Content...*"></textarea>
        <button id="discard">Discard</button>
        <button id="postbutton">Post</button>
    </div>

</div>