<%- include('C:/Users/Admin/OneDrive/Documents/GitHub/BlogPractice/views/partials/header.ejs') %>

<div class="main-content">

    <%# ADD POSTS HERE %>
    <div class="post-container">
        <a href="post-MyUsername.html" class="link-overlay"></a>
        <div class="profile-picture bypass-overlay">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZO4F0lKoa1G1MOrQ7b0hrCsSupq1XH9WtYw&s" alt="RickRoll">
            <a href="viewprofile.html">MyUsername</a> <a href="communities.html">from c/Rickity</a>
        </div>
        <h4>NEVER GONNA GIVE YOU UP, NEVER GONNA LET YOU DOWN</h4>
        <img src="https://variety.com/wp-content/uploads/2021/07/Rick-Astley-Never-Gonna-Give-You-Up.png?w=1000&h=563&crop=1" alt="Rick">
        <button class="bypass-overlay">
            <img src="img/upvote-icon.svg" alt="Upvote">
            <p>4</p>
        </button>
        <button class="bypass-overlay">  
            <img src="img/downvote-icon.svg" alt="Downvote">
            <p>1</p>
        </button>
        <button class="bypass-overlay">
            <img src="img/comment-icon.svg" alt="Comment">
        </button>
    </div>

</div>