<div class="login">
    <div id="login-header">
        <h1>THE FORUM</h1>
        <h4>This is one of the forums of all time</h4>
    </div>  
    <div id="login-content">
        <h2>LOGIN</h2>
        <div id="login-form">
            <h3>Username</h3>
            <h3 id="right-align">Password</h3>
            <input type="text" placeholder="Enter your username">
            <input type="password" id="password" placeholder="Enter your password">
            <br><br><input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
            <a href="HomePage.html" id="password">Forgot Password?</a>
            <br><br><br><br><br><button>Login</button><br><a href="register.html">New to The Forum? Register Now!</a>
        </div>
    </div>
</div>