<%- include('C:/Users/Admin/OneDrive/Documents/GitHub/BlogPractice/views/partials/header.ejs') %>

<div class="main-content">

    <div id="myprofile">
        <div id="profile-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZO4F0lKoa1G1MOrQ7b0hrCsSupq1XH9WtYw&s" alt="EvilTobey" >
            <h1 id="username">MyUsername</h1>
            <button id="edit-profile" onclick="editDescription()"> Edit </button>
        </div>

        <div id="profile-info">

            <p id="profile-description">With HTML and CSS comes great alignment</p>

            <h2>Latest Posts:</h2>
            <div class="latest-posts">
                <p>NEVER GONNA GIVE YOU UP, NEVER GONNA LET YOU DOWN</p>
                <img src="https://variety.com/wp-content/uploads/2021/07/Rick-Astley-Never-Gonna-Give-You-Up.png?w=1000&h=563&crop=1" alt="Rick">
                <button>
                    <img src="https://w7.pngwing.com/pngs/349/305/png-transparent-computer-icons-internet-forum-comment-miscellaneous-monochrome-black-thumbnail.png" alt="Comment">
                    Comment 
                </button>
                <button> 
                    <img src="images/upvote-icon.svg" alt="Upvote">
                   100
                </button>
                <button> 
                    <img src="images/downvote-icon.svg" alt="Downvote">
                    50
                </button>
            </div>

            <h2> Comments: </h2>
            <div class="latest-posts">
                <p>MAKE YOU CRY! SAY GOODBYE! TELLING A LIE! HURTING YOU! GIVING YOU UP! LETTING YOU DOWN! GOING AROUND AND DESERTING YOU! replied to Rick Astley</p>
                <button>
                    <img src="https://w7.pngwing.com/pngs/349/305/png-transparent-computer-icons-internet-forum-comment-miscellaneous-monochrome-black-thumbnail.png" alt="Comment">
                    Comment 
                </button>
                <button> 
                    <img src="images/upvote-icon.svg" alt="Upvote">
                   100
                </button>
                <button> 
                    <img src="images/downvote-icon.svg" alt="Downvote">
                    50
                </button>
            </div>

        </div>
        
    </div>

</div>